:local(.list){
    li {
        :local(.byggsokExportIcon){
            height: 28px;
            margin: 0 8px -2px;
        }
        :local(.byggsokSaveAsIcon){
            height: 28px;
            margin: 0 8px -3px;
        }
    }
}
